<app-hijo></app-hijo>

<div>
  <h1>ViewChild</h1>
  <h3>Mensaje del padre: {{ mensajeP }}</h3>
  <h3>Mensaje del padre: {{ mensaje2 }}</h3>
  <h3>Mensaje del padre: {{ mensajeJ | json }}</h3>
  <h3>Mensaje del padre: {{ mensajeJ2 | json }}</h3>
</div>